[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "*"
black = "*"

[packages]
django = "*"
django-extensions = "*"
django-debug-toolbar = "*"
werkzeug = "*"
django-environ = "*"
psycopg2 = "*"
gunicorn = "*"
django-heroku = "*"
djoser = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pillow = "*"
django-cors-headers = "*"
boto3 = "*"
django-storages = "*"
django-mapbox-location-field = "*"
channels = "*"


[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
